/* */
.userChat {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  gap: 5px;
}
.messageBorder {
  max-width: 700px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.usernameText {
  font-weight: 1000;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  color: #adb5bd;
}
.messageTexts {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}
.userImg {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.secondLine {
  display: flex;
  align-items: center;
}
.userChat:hover {
  background-color: #4eac6d;
}
