.Container {
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-top: 70px;
  flex-direction: column;
}
.overallContainer {
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    padding-bottom: 100px;
}
.ownerContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-top: 70px;
    flex-direction: column;

  }
.secondLine {
  display: flex;
  align-items: center;
}
.messageBorder {
  max-width: 500px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: gray;
}

.usernameTexts {
  font-weight: 1000;
  font-size: 16px;
  color: black;
}
.messageTexts {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.userImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
