.overallContainer {
  overflow-y: scroll;
  width: 100%;
  height: 90%;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.Container {
  width: 100%;
  display: flex;
  /* padding-left: 20px; */
  padding-top: 70px;
  padding-right: 20px;
  flex-direction: column;
}

.ownerContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-top: 70px;
  flex-direction: column;
}
.secondLine {
  display: flex;
  align-items: center;
  gap: 10px
}
.messageBorder {
  max-width: 500px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: gray;
}

.ownerMessageBorder {
  max-width: 500px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: gray;
}

.usernameTexts {
  font-weight: 1000;
  font-size: 16px;
  color: black;
}
.messageTexts {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.userImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
