.container {
  width: 5%;
  height: 100vh;
  position: fixed;
  /* background-color: #ebc7e6; */
}
.icons {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 50%;
  right: -30%;
}
.navMenu {
  z-index: 11;
}
